@model ProyectoProgra4.Models.GuestResponce

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>RsvpForm</title>
</head>
<body>
    <div>
        @using (Html.BeginForm())
        {
            <p>Your Name: @Html.TextBoxFor(x => x.Name)</p>
                    <p>Your E-Mail: @Html.TextBoxFor(x => x.Email)</p>
                    <p>Your Phone: @Html.TextBoxFor(x => x.Phone)</p>
                    <p>
                        Will Attend?
                        @Html.DropDownListFor(x => x.WillAttend, new[]
                   {
                       new SelectListItem() { Text = "Yes, I'll be there", Value = bool.TrueString},new SelectListItem() { Text = "Nope", Value = bool.FalseString}
                   }, "Choose your option")
                    </p>
                    <input type="submit" value="Enviar RSVP" />
        }
    </div>
</body>
</html>
